.button{
  height: 48px;
  width: 419.9999694824219px;
  border-radius: 10px;
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  font-size: 16px;
  font-weight: 600px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #fff;
}
.button__location{
    display: block;
    height: 48px;
    width: 336px;
    margin: 60px auto;
  }
.button-price{
    margin-top: 20px;
    width: 370px;
    height: 48px;
}
.button__certificate{
    width: 342px;
    margin-top: 10px;
    transform: translateX(5%);
}
.button__reviews{
    width: 342px;
    display: block;
    margin: 0 auto;
}