.info{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 66px;
    padding-top: 60px;
    background: #F2F4F4;
    min-height: 460px;
    h2{
        @include h2Text;
    }
    .info__text{
        margin-top: 32px;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        @include text;
        height: 260px;
        width: 100%;
        overflow: hidden;
        ul{
            padding-left: 0;
        }
    }
    .info__navigation{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 24px;
        gap: 16px;
        margin-top: 20px;
        .info__open{
            @include oranj;
            margin-bottom: 0;
            font-size: 16px;
        }
        .info__svg-button{
            cursor: pointer;
        }
    }
}

//адаптация
@media(max-width: 1024px){
    .info{
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 51px;
        min-height: 491px;
        h2{
            font-size: 30px;
        }
        .info__text{
            height: 312px;
        }
    }
}
@media(max-width: 900px){
    .info{
        padding-left: 55px;
        padding-right: 55px;
    }
}

@media(max-width: 840px){
    .info{
        min-height: 500px;
        padding-left: 35px;
        padding-right: 35px;
        .info__text{
            height: 340px;
        }
        h2{
            font-size: 27px;
        }
    }
}
@media(max-width: 450px){
    .info{
        min-height: 620px;
        padding-top: 50px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 76px;
        h2{
            font-size: 24px;
        }
        .info__text{
            margin-top: 24px;
            font-size: 14px;
            text-align: center;
            height: 470px;
           ul{
            list-style-position: inside;
           }
        }
        .info__navigation{
            justify-content: center;
            .info__open{
                font-size: 14px;
            }
        }
    }
}
@media(max-width: 375px){
    .info{
        min-height: 718px;
        .info__text{
            height: 500px;
        }
    }
}