.reviews{
    min-height: 869px;
    h2{
        @include h2Text;
    }
    .reviews__block{
        margin: 80px auto;
        min-height: 576px;
        max-width: 1052px;
        display: flex;
        gap: 16px;
        justify-content: center;
        .reviews__item{
            height: 463px;
            width: 340px;
            .reviews__foto{
                margin: 0 auto;
                height: 244px;
                width: 223px;
                object-fit: cover;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            h3{
                margin-top: 22px;
                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
                text-align: center;
                color: #4A4A4A;
                margin-bottom: 14px;
            }
            .reviews__text{
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                text-align: center;
                color: #4A4A4A;
            }
        }
        .reviews__item:nth-child(1){
            align-self: end;
        }
        .reviews__item:nth-child(2){
            align-self: start;
        }
        .reviews__item:nth-child(3){
            align-self: end;
        }
    }
    #reviews__form{
        min-height: 662px;
        .modal1__wrapper{
            margin-right: 0;
            width: 574px;
            height: 600px;
            margin-left: 45px;
            padding-left: 49px;
            padding-right: 49px;
            margin-top: 40px;
            margin-bottom: 0;
            .feed-form{
               min-height: 450px;
               position: relative;
                .form-confident{
                    margin-top: 16px;
                    font-size: 12px;
                   
                }
                .form-textarea{
                    position: relative;
                    min-height: 100px;
                    border-radius: 5px;
                    border: 1px solid #DDDEE4;
                    margin-bottom: 18px;
                    #input-text-file{
                        height: 70px;
                        width: 100%;
                        border: none;
                        padding: 16px 18px;  
                }
                    #input-text-file::placeholder{
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 12px;
                        text-align: left;
                        color: #DDDEE4;
                }
                    #input-text-file:focus{
                        outline: none;

                    }

                }
                    
               
                #input-reviews{
                    position: absolute;
                    border: none;
                    height: 50px;
                    width: 50px;
                    cursor: pointer;
                    z-index: 2;
                    opacity: 0;
                    transform: translateX(-54px) translateY(10px);
                    bottom: 0;

                }
                .form-blob{
                    position: absolute;
                    width: 45px;
                    height: 45px;
                    cursor: pointer;
                   transform: translateX(375px) translateY(-5px);
                   bottom: 0;
                    img{
                        width: 100%;
                        height: 100%;
                    }

                }
            .form-preview{
                position: absolute;
                width: 347px;
                height: 299px;
                top: 150px;
                transform: translateY(-25%) translateX(20px);
                .form-file-close{
                    height: 32px;
                    width: 32px;
                    position: absolute;
                    z-index: 5;
                    top: 12px;
                    right: 12px;
                    cursor: pointer;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                }

            }}
        }
        .modal1__img{
            margin: 89px 0 89px 0;
            position: relative;
            width: 450px;
            height: 484px;
            margin-left: -40px;
            .modal1__img2{
                position: absolute;
                width: 284px;
                height: 366px;
                z-index: 2;
                transform: translateX(30%);
                bottom: 0;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .modal1__reviews-img{
                position: absolute;
                top: 0;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
// адаптация
@media(max-width: 1075px){
    .reviews{
        .reviews__block{
           flex-wrap: wrap;
           margin: 40px auto;
        }
        #reviews__form{
            width: 840px;
            padding-left: 45px;
           .modal1__wrapper{
            padding-left: 0;
            padding-right: 0;
             margin-left: 0;
             .feed-form{
                padding-left: 36px;
                padding-right: 36px;
             }
           }
        }
    }
}
@media(max-width: 1024px){
    .reviews{
        #reviews__form{
            .modal1__wrapper{
                width: 446px;
                height: 507px;
                margin-top: 46px;
                h2{
                    font-size: 28px;
                }
                .feed-form{
                    width: 374px;
                    height: 407px;
                    .form-preview{
                        top: 100px;
                        width: 250px;
                        height: 190px;
                    }
                    .form-textarea{
                        .form-blob{
                            transform: translateX(250px) translateY(-5px);
                        }
                    }
                }
            }
            .modal1__img{
                margin-top: 126px;
                height: 364.47076416015625px;
                width: 338.8673095703125px;
                .modal1__img2{
                    height: 276.1802062988281px;
                    width: 214.2141571044922px;
                }
            }
        }
    }
}
@media(max-width: 900px){
    .reviews{
        #reviews__form{
            width: 750px;
          
        }
    }
}
@media(max-width: 800px){
    .reviews{
        #reviews__form{
            width: 680px;
            .modal1__img{
                .modal1__img2{
                    transform: translateX(15%);
                }
            } 
        }
    }
}
@media(max-width: 700px){
    .reviews{
        #reviews__form{
            padding-left: 0;
            flex-direction: column-reverse;
            width: 450px;
            .modal1__img{
                width: 165px;
                min-height: 160px;
                margin: 0 auto;
                margin-top: 15px;
                .modal1__img2{
                    height: 120px;
                    width: 90px;
                    transform: translateX(35px);
                }

            }
            .modal1__wrapper{
                height: 500px;
                margin: 0 auto;
                h2{
                    text-align: center;
                }
                .feed-form{
                    margin: 0 auto;
                    input{
                        height: 32px;
                    }
                    .form-textarea{
                        height: 80px;
                    }
                }

            }
        }
    }
}
@media(max-width: 680px){
    .reviews{
        h2{
            font-size: 30px;
        }
        .button__reviews{
            height: 56px;
            width: 320px;
        }
    }
}
@media(max-width: 480px){
  .reviews{
      #reviews__form{
       width: 338px;
       height: 605px;
       padding-top: 0;
        padding-left: 17px;
        padding-right: 17px;
        .modal1__wrapper{
            width: 304px;
            height: 480px;
            h2{
                font-size: 22px;
            }
            .feed-form{
                width: 280px;
                padding-left: 12px;
                padding-right: 12px;
                .form-textarea{
                    .form-blob{
                        transform: translateX(210px) translateY(-5px);
                    }
                    .form-preview{
                        top: 80px;
                        width: 220px;
                        height: 155px;
                    }

                }
            }
        }
        .modal1__img{
            margin-top: 0;
            width: 118px ;
            height: 126px ;
            .modal1__img2{
                height: 96.17124938964844px;
                width: 74.59251403808594px;
                transform: translateX(20px);
                top: 25px;
            }
            .modal1__reviews-img{
                width: 100%;
                height: 100%;
            }
        }
      }
  }
}