body{
    font-family: 'Montserrat';
    position: relative;
    margin: 0;
    width: 100vw; 
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

html{
    position: fixed;
    height: 100%;
    overflow: hidden;
    
}


